* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Common Classes start*/
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
}

.white-txt {
    color: white;
}

.orange-txt {
    color: #f19204;
}

.blue-txt {
    color:#1c609b;
}

.pad-sm {
    padding: 15px;
}

/*Common Classes end*/

/*Calculator style start */
#calculator {
    background-color: #333333;
    align-content: center;
}

.row {
    margin-bottom: 10px;
}

#display {
    color: white;
    text-align: right;
    margin-bottom: 20px;
    font-size: xx-large;
}

#displayRunningTotal {
    color: white;
    text-align: right;
    margin-bottom: 20px;
    font-size: large;
}

.num-btn {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: gray;
    font-size: x-large;
}

.operator {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: orange;
    font-size: x-large;
}

#equals {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: gray;
    font-size: x-large;
}